.aboutContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem;
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  margin-top: -70px;
}

.aboutContainer h1 {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.aboutContainer h2 {
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.aboutArtist,
.instructions,
.rugCare,
.deliveryInfo {
  margin-bottom: 2rem;
}

.aboutContainer ul {
  list-style-type: none;
  padding-left: 0;
}

.aboutContainer li {
  margin-bottom: 0.5rem;
}
