footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  padding: 1rem 0;
  text-align: center;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
}

.footer-divider {
  height: 1px;
  background-color: var(--footer-text);
  opacity: 0.2;
  margin: 0 auto;
  width: 90%;
}

.footer-bottom {
  font-size: 0.9rem;
  padding: 1 0;
}

footer a {
  color: var(--footer-text);
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--primary-color);
}

.footer-top a {
  display: flex;
  align-items: center;
}

.footer-top svg {
  margin-right: 0.5rem;
}

footer a {
  color: var(--footer-text);
  text-decoration: none;
  margin: 0 1rem;
}

.theme-toggle {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
  margin-left: 1rem;
}

.theme-toggle:hover {
  background-color: var(--secondary-color);
}

.dark-mode-toggle {
  position: relative;
  top: -200px;
}

@media (max-width: 768px) {
  .dark-mode-toggle {
    top: -3px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .theme-toggle {
    margin-top: 1rem;
    margin-left: 0;
  }
}
