header {
  background-color: var(--header-bg);
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.desktop-nav {
  flex-direction: row;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  width: 50px;
}

.nav-left .MuiIconButton-root,
.nav-right .MuiIconButton-root {
  margin: 0 0.5rem;
}

.logo {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: normal;
  padding: 0.5rem 1rem;
  transition: border-bottom 0.3s ease;
  text-transform: uppercase;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}

nav a:hover::after {
  width: 100%;
  left: 0;
}

main {
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.theme-toggle {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
  margin-left: 1rem;
}

.theme-toggle:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  nav {
    padding: 0.5rem;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

  .logo img {
    height: 70px;
    width: auto;
  }

  .nav-left .MuiIconButton-root,
  .nav-right .MuiIconButton-root {
    padding: 8px;
  }

  .nav-left,
  .nav-right {
    width: 70px;
  }

  .nav-left .MuiIconButton-root,
  .nav-right .MuiIconButton-root {
    padding: 8px;
  }

  .mobile-nav .logo {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

.nav-links {
  display: flex;
  gap: 5rem;
}

.nav-links a {
  font-size: 1.4rem;
}

.mobile-menu {
  width: 250px;
  padding: 1rem;
}

.mobile-menu .MuiMenuItem-root {
  padding: 1rem;
}

.mobile-drawer {
  width: 250px;
}

.mobile-drawer .MuiDrawer-paper {
  width: 250px;
  top: 110px;
  height: calc(100% - 80px);
  border-right: none;
  background-color: var(--header-bg);
}

.mobile-menu {
  padding: 1rem;
}

.mobile-menu .MuiMenuItem-root {
  padding: 1rem;
}

@media (max-width: 768px) {
  .App {
    padding-left: 0;
    transition: padding-left 0.3s ease;
  }

  .App.drawer-open {
    padding-left: 250px;
  }
}

.mobile-menu .MuiMenuItem-root {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: normal;
}

.dark-mode-toggle {
  position: relative;
  top: -200px;
}

@media (max-width: 768px) {
  .dark-mode-toggle {
    top: -3px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .theme-toggle {
    margin-top: 1rem;
    margin-left: 0;
  }
}

.nav-right .MuiIconButton-root {
  position: relative;
}

.cart-quantity-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}
