.productContainer {
  display: flex;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  margin-top: -3rem;
  margin-bottom: 0.5rem;
}

.productImage {
  width: 50%;
  height: auto;
}

.productDetails {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.productPrice {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin: 1rem 0;
}

.productShipping {
  margin-bottom: 1.5rem;
  margin-top: -0.9rem;
  font-size: 0.8rem;
}

.productDescription {
  margin-bottom: 1.5rem;
}

.productName {
  margin-bottom: -0.5rem;
  text-decoration: bold;
}

.quantityContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 48.5%;
}

.quantityContainer input {
  width: 50px;
  text-align: center;
  margin: 0 0.5rem;
}

.addToCartButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addToCartButton:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .productContainer {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0;
  }

  .productImage {
    width: 90%;
    padding: 0;
    margin-top: 1rem;
  }

  .productDetails {
    padding-left: 0;
    align-items: center;
  }

  .productName {
    margin-top: 1rem;
  }

  .quantityContainer {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
  }

  .quantityContainer label {
    margin-right: 2rem;
  }

  .quantityContainer input {
    width: 50px;
    text-align: center;
  }

  .quantityContainer button {
    width: 30px;
    height: 30px;
    margin-left: 0.1rem;
    font-size: 0.8rem;
  }

  .addToCartButton {
    margin-top: 0.4rem;
    width: 50%;
  }
}
