.productContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  margin: 0 auto;
  margin-top: -3rem;
  gap: 0;
}

.productImage {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  padding: 30px;
}

.productDetails {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.productPrice {
  font-size: 1.2rem;
  margin: 0.75rem 0;
}

.productShipping {
  margin-top: -0.9rem;
  font-size: 0.8rem;
}

.productCareInfo {
  font-size: 0.7rem;
}

.productDescription {
  margin-bottom: 1.5rem;
}

.productName {
  margin-bottom: -0.5rem;
  text-decoration: bold;
  font-size: 1.3rem;
  @media (max-width: 768px) {
    margin-top: 0.5rem;
  }
}

.quantityContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 60%;
}

.quantityContainer input {
  width: 80px;
  text-align: center;
  margin: 0 0.5rem;
}

.addToCartButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  transform: translateY(0);
  transition: transform 0.1s ease;
  box-shadow: 4px 4px 0 0 #000000;
  width: 60%;
}

.addToCartButton:hover {
  transform: translateY(-2px);
  box-shadow: 6px 6px 0 0 #000000;
}

.addToCartButton:active {
  transform: translateY(0);
  box-shadow: 4px 4px 0 0 #000000;
}

.productDescriptionTitle {
  margin-bottom: 0.5rem;
}

.productDescriptionContainer {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.variationImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 5px;
  border-radius: 4px;
  display: inline-block;
}

.variation:hover {
  transform: scale(1.05);
}

.variationsContainer {
  display: flex;
  flex-wrap: wrap;
}

.variationsTitle {
  font-size: 1.1rem;
  font-weight: 500;
}

.productImageContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 2rem;
}

.colorCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px auto;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: relative;
}

.colorCircle:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.colorCircle:hover {
  transform: scale(1.1);
}

.variation {
  border-radius: 4px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  flex: 0 0 calc(100% / 6 - 0.5rem);
  position: relative;
}

.variation p {
  font-size: 0.8rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: 0;
}

.variation:hover p {
  opacity: 1;
}

.imageThumbnails {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.imageThumbnails::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.thumbnail {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s;
  background-color: transparent;
}

.activeThumbnail {
  padding: 5px;
  border-color: var(--primary-color);
}

@media (max-width: 768px) {
  .productContainer {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0;
    margin-top: -20px;
  }

  .productShipping {
    font-size: 0.7rem;
  }

  .productImageContainer {
    width: 110%;
    margin-right: 0rem;
  }

  .productImage {
    width: 100%;
    padding: 30px;
  }

  .productDetails {
    align-items: flex-start;
    margin-top: 1rem;
  }

  .quantityContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.25rem;
    width: 100%;
  }

  .quantityContainer label {
    margin-right: 2.2rem;
  }

  .quantityContainer input {
    width: 50px;
    text-align: center;
  }

  .quantityContainer button {
    width: 30px;
    height: 30px;
    margin-left: 1rem;
    font-size: 0.8rem;
  }

  .productPrice {
    font-size: 1.2rem;
    margin: 0.5rem 0; /* Adjusted to move the price upwards */
  }

  .addToCartButton {
    margin: 1rem;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .imageThumbnails {
    justify-content: center;
    overflow-x: auto;
    position: relative;
    width: 100%;
    margin-top: 25px;
  }

  .imageThumbnails::after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: var(--primary-color);
  }
}

.scrollIndicator {
  width: 50px;
  height: 4px;
  background-color: var(--primary-color);
  margin: 1rem auto 0;
  border-radius: 2px;
  opacity: 0.7;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
}
