.requestListContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--card-bg);
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.orderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-bg);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 1rem;
  transition: transform 0.2s, box-shadow 0.2s;
}

.orderItemName {
  font-size: 1.3rem;
  margin-top: -55px;
}

.orderItemEmail {
  font-size: 1rem;
}

.orderItemContact {
  font-size: 1rem;
  padding-bottom: 20px;
}

.descriptionTextarea {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
}

.orderItemCreatedAt {
  font-size: 0.8rem;
  color: #999;
  margin-top: 0.5rem;
}

.imageContainer {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  overflow-x: auto;
  scrollbar-width: none;
  padding: 10px;
}

.imageContainer::-webkit-scrollbar {
  display: none;
}

.imageContainer img {
  width: 26%;
  border-radius: 8px;
  border: 2px solid #ddd;
  transition: transform 0.2s, border-color 0.2s;
  margin-right: 3rem;
}

.imageContainer img:hover {
  transform: scale(1.05);
}

.noImages {
  font-size: 1rem;
  color: #999;
  margin-top: 1rem;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  padding: 20px;
}

.modalContent {
  width: 80%;
  max-width: 800px;
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.modalImage {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 500px;
  right: 20%;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 4rem;
  cursor: pointer;
  z-index: 10;
}

.statusSelect {
  margin-left: auto;
  left: 475px;
  top: 0px;
  z-index: 10;
  width: 200px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  color: #333;
}

.requestTitle {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.nameInput {
  margin-right: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 65%;
}

.deleteByNameContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.deleteButton {
  padding: 0.5rem 1rem;
  background-color: #f44336;
  color: red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #d32f2f;
}

.setButton {
  background-color: purple;
  color: purple;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.setButton:hover {
  background-color: darkviolet;
}

.previewContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.previewImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.uploadButton {
  margin: 0.5rem;
}

.imageSlot {
  width: 150px;
  height: 150px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.previewContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .modalContent {
    width: 75%; /* Adjust width for mobile */
    padding: 1rem; /* Adjust padding for mobile */
  }

  .imageSlot {
    width: 70px;
    height: 70px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    position: relative;
  }

  .previewImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
}
