.uploadText {
  color: var(--text-color);
  text-align: center;
  font-size: 0.9rem;
}

.requestForm {
  display: grid;
  gap: 1rem;
}

.formInput {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.submitButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--secondary-color);
}

.instructions {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #f8f8f8;
  border-radius: 8px;
  color: #333;
}

.instructions h2 {
  margin-bottom: 1rem;
  font-weight: normal;
}

.instructions ol {
  padding-left: 1.5rem;
}

.instructions li {
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 60%;
  max-width: 500px;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal input,
.modal textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--text-color);
  border-radius: 4px;
}

.modal button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button[type="submit"] {
  background-color: var(--primary-color);
  color: white;
}

.modal button[type="button"] {
  background-color: var(--secondary-color);
  color: white;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.closeIcon {
  cursor: pointer;
  font-size: 2rem;
  color: var(--text-color);
}

.descriptionTextarea {
  height: 150px;
  font-family: inherit;
}

.imagePreviewContainer {
  display: flex;
  gap: 1rem;
}

.imageWrapper {
  position: relative;
  display: inline-block;
}

.removeImage {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  z-index: 1;
}

.imagePreview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0.5rem;
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block;
}

.button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(0);
}

.requestContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem;
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  margin-top: -70px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.requestContainer p {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.requestContainer h1 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.requestContainer ul {
  padding-left: 2rem;
  font-size: 0.9rem;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .modal {
    width: 85%;
    max-width: none;
    padding: 1rem;
  }

  .requestForm {
    gap: 0.5rem;
  }

  .submitButton {
    font-size: 1rem;
    margin-top: -1rem;
  }

  .closeIcon {
    font-size: 1.5rem;
  }

  .modalHeader {
    margin-bottom: 0.5rem;
  }

  .descriptionTextarea {
    height: 100px;
  }

  .imagePreviewContainer {
    flex-direction: row;
    align-items: center;
  }

  .imagePreview {
    width: 50px; /* Reduce width to half */
    height: 50px; /* Reduce height to half */
  }

  .requestContainer {
    margin-top: -30px;
  }
}
