.shopContainer {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  margin-top: -2rem;
}

@media (max-width: 768px) {
  .shopContainer {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -2rem;
  }
}

.rugItem {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.rugItem:hover .rugImage {
  transform: scale(1.2);
}

.rugFrame {
  background-image: url("../assets/images/frame.png"); /* Adjust the path as necessary */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 475px; /* Adjust height as needed */
  position: relative;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-top: 20px;
  margin-left: -78px;
}

.rugImage {
  width: 80%; /* Adjust width to fit inside the frame */
  height: auto;
  max-height: 170px; /* Keep the max height */
  object-fit: contain;
  transition: transform 0.3s ease;
  margin-left: 120px; /* Move the image slightly to the right */
  margin-bottom: 70px;
}

.rugInfo {
  padding: 1rem;
  margin-top: -6rem;
}

.rugName {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: var(--text-color);
  text-decoration: none;
  font-weight: normal;
  transition: text-decoration 0.3s ease;
}

.rugItem:hover .rugName {
  text-decoration: underline;
}

.rugPrice {
  font-weight: normal;
  color: var(--text-color);
  margin-top: -0.25rem;
  margin-bottom: 0.5rem;
}

.addToCartButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addToCartButton:hover {
  background-color: var(--secondary-color);
}

.shopTitle {
  font-weight: normal;
  margin-bottom: 2rem;
  text-align: left;
  margin-left: 2rem;
  margin-top: -1rem;
}

.rugGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

@media (max-width: 768px) {
  .rugGrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
}

.rugItem.soldOut {
  opacity: 0.5; /* Gray out the item */
  pointer-events: none; /* Disable interaction */
}

.soldOutMessage {
  color: red; /* Change the color of the sold out message */
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 1.1rem;
  transform: rotate(35deg); /* Rotate the message 45 degrees */
}

/* Mobile version adjustments for soldOutMessage */
@media (max-width: 768px) {
  .soldOutMessage {
    font-size: 1.2rem; /* Adjust font size for mobile */
    margin-top: 0.5rem; /* Adjust margin for mobile */
    transform: rotate(35deg); /* Reset rotation for mobile */
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1.5rem;
}

.pageNumbers {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.pageNumberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.pageNumber {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.activePage {
  color: var(--primary-color);
  font-weight: bold;
}

.pageIndicator {
  width: 4px;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.arrow {
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.rugItem:hover .rugFrame {
  transform: scale(1.05); /* Scale the frame slightly larger on hover */
  transition: transform 0.3s ease; /* Smooth transition */
}

@media (max-width: 768px) {
  .rugFrame {
    margin-left: 0;
    width: 100%;
    height: 600px;
    background-size: 150% 100%; /* Make the frame image larger */
    background-position: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rugImage {
    width: 80%; /* Make the rug image smaller */
    max-height: 230px; /* Reduce max height */
    margin-left: 0;
    margin-bottom: 70px;
    object-fit: contain;
  }
}
