.shopContainer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: 0rem;
}

.rugGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5rem;
  justify-items: center;
}

.rugItem {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.rugItem:hover .rugImage {
  transform: scale(1.2);
}

.rugImage {
  max-width: 100%;
  height: auto;
  max-height: 275px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.rugInfo {
  padding: 0.5rem;
  margin-top: 2rem;
}

.rugName {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: var(--text-color);
  text-decoration: none;
  font-weight: normal;
  transition: text-decoration 0.3s ease;
}

.rugItem:hover .rugName {
  text-decoration: underline;
}

.rugPrice {
  font-weight: normal;
  color: var(--text-color);
  margin-top: -0.25rem;
  margin-bottom: 0.5rem;
}

.addToCartButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addToCartButton:hover {
  background-color: var(--secondary-color);
}

.shopTitle {
  font-weight: normal;
  margin-bottom: 2rem;
  text-align: left;
  margin-left: 2rem;
  margin-top: -1rem;
}

.rugItem.soldOut {
  opacity: 0.5;
  pointer-events: none;
}

.soldOutMessage {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  margin-top: -2rem;
  transform: rotate(35deg);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1.5rem;
}

.pageNumbers {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.pageNumberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.pageNumber {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.activePage {
  color: var(--primary-color);
  font-weight: bold;
}

.pageIndicator {
  width: 4px;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.arrow {
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.rugItem:hover .rugFrame {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.rugItem:hover .sticker {
  transform: scale(1.2) rotate(-15deg);
  transition: transform 0.3s ease;
}

.sticker {
  position: absolute;
  top: 2px;
  left: 45px; /* Adjust as needed */
  width: 90px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 10; /* Ensure it appears above other elements */
  transform: rotate(-20deg); /* Rotate the sticker to the left */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

@media (max-width: 768px) {
  .shopContainer {
    margin-top: -50px;
    padding: 0;
    align-items: left;
  }

  .rugGrid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0rem;
    margin-top: 2rem;
  }

  .rugItem {
    width: 100%;
    min-height: 425px;
    align-items: left;
  }

  .rugFrame {
    width: 100%;
    height: 500px;
    margin-left: 0;
    background-size: 200% 120%;
    background-position: center;
    margin-top: 40px;
  }

  .rugInfo {
    margin-left: -5rem;
  }

  .soldOutMessage {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    transform: rotate(35deg);
  }
}
