.shopContainer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: -4rem;
}

@media (max-width: 768px) {
  .shopContainer {
    margin-top: -100px;
  }
}

.rugItem {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s ease;
  width: 300px;
  max-width: 100%;
  max-height: 100%;
  min-height: 200px;
}

.rugItem:hover .rugImage {
  transform: scale(1.2);
}

.rugFrame {
  background-image: url("../assets/images/frame.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 450px;
  height: 475px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: -78px;
}

.rugImage {
  max-width: 80%;
  height: auto;
  max-height: 170px;
  object-fit: contain;
  transition: transform 0.3s ease;
  margin-left: 30px;
  margin-bottom: 70px;
}

.rugInfo {
  padding: 0.5rem;
  margin-top: -4rem;
}

.rugName {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: var(--text-color);
  text-decoration: none;
  font-weight: normal;
  transition: text-decoration 0.3s ease;
}

.rugItem:hover .rugName {
  text-decoration: underline;
}

.rugPrice {
  font-weight: normal;
  color: var(--text-color);
  margin-top: -0.25rem;
  margin-bottom: 0.5rem;
}

.addToCartButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addToCartButton:hover {
  background-color: var(--secondary-color);
}

.shopTitle {
  font-weight: normal;
  margin-bottom: 2rem;
  text-align: left;
  margin-left: 2rem;
  margin-top: -1rem;
}

.rugGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center;
}

@media (max-width: 768px) {
  .rugGrid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .rugItem {
    width: 250px;
    min-height: 500px;
  }

  .rugFrame {
    width: 100%;
    height: 500px;
    margin-left: 0;
    background-size: 200% 120%;
    background-position: center;
    margin-top: 40px;
  }

  .rugInfo {
    margin-top: -120px;
  }
}

.rugItem.soldOut {
  opacity: 0.5;
  pointer-events: none;
}

.soldOutMessage {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 1.1rem;
  transform: rotate(35deg);
}

@media (max-width: 768px) {
  .soldOutMessage {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    transform: rotate(35deg);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1.5rem;
}

.pageNumbers {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.pageNumberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.pageNumber {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.activePage {
  color: var(--primary-color);
  font-weight: bold;
}

.pageIndicator {
  width: 4px;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.arrow {
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.rugItem:hover .rugFrame {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
