.shopContainer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: -2rem;
}

@media (max-width: 768px) {
  .shopContainer {
    padding: 2rem 1rem 2rem 1rem;
    margin-top: -2rem;
  }
}

.rugItem {
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.rugItem:hover .rugImage {
  transform: scale(1.2);
}

.rugImage {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: contain;
}

.rugInfo {
  padding: 1rem;
}

.rugName {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: var(--text-color);
  text-decoration: none;
  font-weight: normal;
  transition: text-decoration 0.3s ease;
}

.rugItem:hover .rugName {
  text-decoration: underline;
}

.rugPrice {
  font-weight: normal;
  color: var(--text-color);
  margin-top: -0.25rem;
  margin-bottom: 0.5rem;
}

.addToCartButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addToCartButton:hover {
  background-color: var(--secondary-color);
}

.shopTitle {
  font-weight: normal;
  margin-bottom: 2rem;
  text-align: left;
  margin-left: 2rem;
  margin-top: -1rem;
}

.rugGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

@media (max-width: 768px) {
  .rugGrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
}

.rugItem.soldOut {
  opacity: 0.5; /* Gray out the item */
  pointer-events: none; /* Disable interaction */
}

.soldOutMessage {
  color: red; /* Change the color of the sold out message */
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 1.1rem;
  transform: rotate(35deg); /* Rotate the message 45 degrees */
}

/* Mobile version adjustments for soldOutMessage */
@media (max-width: 768px) {
  .soldOutMessage {
    font-size: 1.2rem; /* Adjust font size for mobile */
    margin-top: 0.5rem; /* Adjust margin for mobile */
    transform: rotate(35deg); /* Reset rotation for mobile */
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pagination button {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem; /* Increase font size for arrows */
}

.pagination button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
